/*General */

h1, h2, body, form {
  font-family: monospace;
  padding: 0.25em;
  text-align: center;
  background-color: #000219;
  color: white;
}

h1 {
  font-size: 4em;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  width: 50%;
  height: 50%;
  position: relative;
  display: block;
}

#google-search-bar{
  display: inline-block;
  position: absolute; 
  left: 0; 
  top: 8.54rem;"
}
/*Form */

form {
  border-radius: 5px;
  text-align: center
}


