// Place all the styles related to the meteors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
  margin-left: 1.5rem;
  width: 50%;
  height: 50%;
  position: absolute;
  display: inline-block;
  left: 0;
  padding: 0;
}

#google-search-bar{
  display: inline-block;
  position: absolute; 
  left: 0; 
  top: 8.54rem;"
}
/*Form */

#address-form-container {
  position: absolute;
  display: inline-block;
  right: 2rem;
  top: 8.5rem;
}

form {
  border-radius: 5px;
  text-align: left;
  top: 0;
  left: 0;
}

input {
  display: block;
  width: 100%;
}

#meteor-show-container {
  position: absolute;
  display: block;
  right: 2rem;
  top: 5.5rem;
  width: 45%;
}