<!DOCTYPE html>
<html>
  <head>
    <title>Meteor 404</title>
  </head>
  <body>
    <header>
      <h1>Meteor 404</h1>
    </header>
    <!-- <input id="google-search-bar" type="text" placeholder="enter an address" autocomplete="off" > -->
    <div id="map"> </div>
    <div id='address-form-container'>
    <h2>Center the Map On Your Region</h2>
    <h3></h3>
      <%= render 'addresses/form' %>
    </div>
    <div id="google-map-index">
      <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLEMAPSAPI"] %>&callback=initMap"
      async defer>
      </script> 
    </div>
    <div id="meteor-show-container">

    </div>
    <div id="fav-meteors-container">
      
    </div>

  </body>

</html>


