<!DOCTYPE html>
<html>
  <head>
    <title>Meteor 404</title>
  </head>
  <body>
    <h1>Meteor 404</h1>
    <div id="map"></div>
    <h2>Address</h2>
    <%= render 'addresses/form' %>
  </body>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLEMAPSAPI"] %>&callback=initMap"
  async defer>
  </script>

</html>
