<h1><%= @meteor.name %></h1>
<div id="map"> </div>
<div id="google-map-index">
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLEMAPSAPI"] %>&callback=initMap2"
  async defer>
  </script> 
</div>